/* En tu archivo misreservas.css */

.reservas-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.reservas-table th,
.reservas-table td {
    border: 1px solid #ddd;
    padding: 12px;
    text-align: left;
}

.reservas-table th {
    background-color: #f2f2f2;
}

.reservas-table tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

.reservas-table tbody tr:hover {
    background-color: #e6e6e6;
}

.reservas-table h2 {
    color: #333;
}

